.ssc-custom-group{
	position: relative;
}

/*.ssc-select-group>select{
	width: inherit;
	height: 44px;
}*/

.ssc-select-options{
	/*position: absolute;*/
	width: inherit;
	height: auto;
	padding: 20px;

}

.ssc-select-item{
	width: inherit;
	height: 44px;
	padding: 10px;
	background-color: red;
}

option{
	visibility: hidden;
}

.ssc-custom-select{
	width: 200px;
	height: 44px;
	border-radius: 10px;
	border:  1px solid red;
}